<div class="home-centered contact">
  <h1>Contact</h1>
  <p>Email: shu@me.com</p>
  <p>Contact number: 07888920328</p>
  <p>Address 1: 99 Nevereverland</p>
  <p>Address 2: Corner of No and Where</p>
  <p>Country: Outer Space</p>
</div>