<div class="home-shader"></div>
<div class="home-centered">

  <h1>A Novel Idea</h1>

  <p>By book lovers, for book lovers</p>
  <nav class="home-links home-button">
    <% if current_user %>
      <%= link_to "Enter", statics_browse_path, class: "enter"%>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class:"log-in"%>
      <%= link_to "Register", new_user_registration_path, class: "register"%>
    <% end %>
  </nav>
</div>
